name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: install_packages
      run: |
           sudo apt-get update
           sudo apt-get install libsndfile1-dev
    - name: update_rust
      run: |
           rustup self update
           rustup update
    - name: Build
      run: cargo build --verbose
    #- name: Run tests
    #  run: cargo test --verbose
